.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header__container {
  display: flex;
  min-height: calc(var(--index) * 4);
  padding: 10px 10px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.356);
  border-bottom: 1px solid #fff;
  border-radius: 0 0 20px 20px;
}

//======================Bu======================

.menu__icon {
  display: none;
}

.header__menu {
}

.menu {
  padding: 5px 0;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  line-height: 30px;
  line-height: calc(var(--index) * 1);
}

.menu__item {
}
.menu__item:not(:last-child) {
  padding: 0 30px 0 0;
}

.menu__link {
  color: #fff;
  font-size: calc(var(--index) * 0.8);
}

.header__logo {
  display: flex;
  align-items: center;
  z-index: 5;
  width: 170px;
}

.header__logo-img {
  &:not(:last-child) {
    padding: 0 15px 0 0;
  }
}
.header__logo-img img {
  width: calc(var(--index) * 3.2);
  height: calc(var(--index) * 3.1);
}

.header__logo-text h1 {
  font-size: calc(var(--index) * 0.8);
  text-align: start;
  line-height: calc(var(--index) * 1.2);
  font-weight: 700;
  color: #fff;
  flex-wrap: wrap;
}

@media (max-width: 991px) {
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }
  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .menu__icon._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .menu__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }

  .menu__body {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    padding: 100px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .menu__body._active {
    left: 0;
  }
  .menu__body::before {
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 90px;
    z-index: 3;
    
  }

  .header__container {
    min-height: calc(var(--index) * 4);
  }

  .header__logo {
    z-index: 3;
  }
  .header__logo-text h1 {
    font-size: calc(var(--index) * 0.9);
  }
  .header__logo-img img {
    width: calc(var(--index) * 3.4);
    height: calc(var(--index) * 3.4);
  }
  .menu__item {
    display: flex;
    flex-direction: column;
  }
  .menu__list {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .menu__list > li {
    flex-wrap: wrap;
    margin: 0 0 40px 0;
    line-height: calc(var(--index) * 1.5);
  }
  .menu__list > li:last-child {
    margin-bottom: 0;
  }
  .menu__link {
    font-size: calc(var(--index) * 2);
  }
}
