//!<...Обнуление>

@import "nullstyle.scss";

//!<Oбнуление...>
//-------------------------------------------------------
//!<...Контейнер>

._container {
   //max-width: ;
   margin: 0 auto;
   padding: 0 15px;
   box-sizing: content-box;
}

//!<Контейнер...>
//-------------------------------------------------------
//!<...Общие стили>

body {
   //font-size: ;
   //font-family: ;
   //color: ;
}

//!<Общие стили...>
//-------------------------------------------------------
//!<...Шапка>



//!<Шапка...>
//-------------------------------------------------------
//!<...Контент>



//!<Контент...>
//-------------------------------------------------------
//!<...Подвал>




//!<Подвал...>
//-------------------------------------------------------


