* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

._container {
  max-width: 1546px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

:root {
  --index: calc(
    1vw + 1vh
  );
}

@font-face {
  font-family: gardens_c;
  src: url(/fonts/gardenscregular.woff);
}
body {
  font-size: calc(var(--index) * 0.6);
  color: #000;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

body._lock {
  overflow: hidden;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: calc(var(--index) * 4);
  padding: 10px 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.356);
  border-bottom: 1px solid #fff;
  border-radius: 0 0 20px 20px;
}

.menu__icon {
  display: none;
}

.menu {
  padding: 5px 0;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 600px;
  line-height: 30px;
  line-height: calc(var(--index) * 1);
}

.menu__item:not(:last-child) {
  padding: 0 30px 0 0;
}

.menu__link {
  color: #fff;
  font-size: calc(var(--index) * 0.8);
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
  width: 170px;
}

.header__logo-img:not(:last-child) {
  padding: 0 15px 0 0;
}

.header__logo-img img {
  width: calc(var(--index) * 3.2);
  height: calc(var(--index) * 3.1);
}

.header__logo-text h1 {
  font-size: calc(var(--index) * 0.8);
  text-align: start;
  line-height: calc(var(--index) * 1.2);
  font-weight: 700;
  color: #fff;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 991px) {
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }

  .menu__icon span,
.menu__icon::before,
.menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }

  .menu__icon::before,
.menu__icon::after {
    content: "";
  }

  .menu__icon::before {
    top: 0;
  }

  .menu__icon::after {
    bottom: 0;
  }

  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }

  .menu__icon._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }

  .menu__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }

  .menu__icon._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }

  .menu__body {
    background-color: rgb(0, 0, 0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    padding: 100px 30px 30px 30px;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }

  .menu__body._active {
    left: 0;
  }

  .menu__body::before {
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 90px;
    z-index: 3;
  }

  .header__container {
    min-height: calc(var(--index) * 4);
  }

  .header__logo {
    z-index: 3;
  }

  .header__logo-text h1 {
    font-size: calc(var(--index) * 0.9);
  }

  .header__logo-img img {
    width: calc(var(--index) * 3.4);
    height: calc(var(--index) * 3.4);
  }

  .menu__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu__list > li {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 0 40px 0;
    line-height: calc(var(--index) * 1.5);
  }

  .menu__list > li:last-child {
    margin-bottom: 0;
  }

  .menu__link {
    font-size: calc(var(--index) * 2);
  }
}
.main-block {
  position: relative;
}

.main-block__body {
  padding: 420px 0 420px 0;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.main-block__title {
  font-weight: 400;
  font-size: calc(var(--index) * 2.7);
  line-height: calc(var(--index) * 2.5);
  color: #fff;
  font-family: gardens_c, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0 0 7% 7%;
}

@media (max-width: 1200px) {
  .main-block__body {
    padding: 320px 0 320px 0;
  }
}
@media (max-width: 767px) {
  .main-block__body {
    padding: 250px 0 250px 0;
  }
}
@media (max-width: 479px) {
  .main-block__body {
    padding: 220px 0 220px 0;
  }
}